@{
    ViewBag.Title = "Home Page";

    Layout = "~/Views/Shared/_Layout.cshtml";
}





<!-- about -->
<div class="about w3-agileits">
    <div class="container">
        <div class="col-md-6 about-left">
            <h3 class="agileits-title">Welcome To Family GO!</h3>
        </div>
        <div class="col-md-6 about-right agileits-w3layoutsleft">
            <h4>Spend more time with your child </h4>
            <p> Parents have busy schedual and do not have enough time to spend with their child.</p>

            <ul>
                <li><span class="glyphicon glyphicon-asterisk"></span> Find activities you can play with your child </li>
                <li><span class="glyphicon glyphicon-asterisk"></span> Find nationality in your suburb</li>
                <li><span class="glyphicon glyphicon-asterisk"></span> Coming popular events </li>
            </ul>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<!-- //about -->
<!-- news -->
<div class="news w3-agileits">
    <div class="container">
        <h3 class="agileits-title1">News about children neglect</h3>
        <div class="news-agileinfo">
            <div class="col-md-6 news-w3left">
                <h4><a href="https://www.abc.net.au/news/2018-09-16/australia-facing-an-epidemic-of-child-abuse-and-neglect/10233898" data-toggle="modal">Australia facing an 'epidemic of child abuse and neglect', according to experts </a></h4>
                <h6>Sep. 16, 2018</h6>
                <p>In what has been described as a world-first examination of child protection reports, Australia's systems are shown to be in meltdown amid unprecedented levels of child abuse and neglect.</p>
                <a href="https://www.abc.net.au/news/2018-09-16/australia-facing-an-epidemic-of-child-abuse-and-neglect/10233898" class="agilebtn" data-toggle="modal" data-target="#myModal"><span>Read More</span></a>
            </div>
            <div class="col-md-6 news-w3right">
                <img src="~/Image/childneglect.jpg" class="img-responsive" alt="" />
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="news-agileinfo btm-newsrow w3-agileits">
            <div class="col-md-6 news-w3left news-w3left1">
                <h4><a href="https://www.abc.net.au/news/2018-09-16/australia-facing-an-epidemic-of-child-abuse-and-neglect/10233898" data-toggle="modal">Australia facing an 'epidemic of child abuse and neglect', according to experts</a></h4>
                <h6>Sep. 16, 2018</h6>
                <p>In what has been described as a world-first examination of child protection reports, Australia's systems are shown to be in meltdown amid unprecedented levels of child abuse and neglect.</p>
                <a href="https://www.abc.net.au/news/2018-09-16/australia-facing-an-epidemic-of-child-abuse-and-neglect/10233898" class="agilebtn" data-toggle="modal" data-target="#myModal"><span>Read More</span></a>
            </div>
            <div class="col-md-6 news-w3right news-w3right1">
                <img src="~/Image/childneglect.jpg" class="img-responsive" alt="" />
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //news -->

<div>
    <h1>charts</h1>
</div>
<link href="~/Content/flexslider.css" rel="stylesheet" />